* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: repeat(5, minmax(150px, 1fr)) / repeat(5, minmax(250px, 1fr));
}

.container > div {
    border: 2px solid black;
    padding: 2rem;
}

/* HEADER SECTION */

.header {
    grid-area: 1 / 2 / 2 / 6;
}

/* SIDEBAR SECTION */

.sidebar {
    grid-row: span 5;
}

/* MAIN SECTION */

.main {
    grid-area: span 5 / span 4;
}